.app.dark {
  --bg-color: #212121;
  --inverted-bg-color: #ffffff;

  --primary-color: #7ec0ee;
  --secondary-color: #f5f5f5;

  --inverted-primary-color: #64b5f6;
  --inverted-secondary-color: #000000;
}
