:root {
  --bg-color: #ffffff;
  --inverted-bg-color: #212121;

  --primary-color: #64b5f6;
  --secondary-color: #000000;

  --inverted-primary-color: #7ec0ee;
  --inverted-secondary-color: #f5f5f5;
}
